{% extends 'admin.html.twig' %}

{% block title %}Voir Fichier 
{% endblock %}
{% block body %} <h1>Voir Fichier </h1><div class="col-12">
<ul class="list-group">
<li class="list-group-item"><h6>Image</h6>
<hr>{{fichier.Image}}
<li class="list-group-item"><h6>Tag</h6>
<hr>{{fichier.Tag}}Degrade{% set options={'Oui':'true', 'Non':'false',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in fichier.Degrade %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}Enligne{% set options={'Oui':'true', 'Non':'false',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in fichier.Enligne %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}
<td>{{fichier.article|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{fichier.id}}
    </ul>
    </div>
<a href="{{ path('fichier_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}