{% extends 'admin.html.twig' %}

{% block title %}Voir Commentaire 
{% endblock %}
{% block body %} <h1>Voir Commentaire </h1><div class="col-12">
<ul class="list-group">Etat{% set options={'Approuvé':'approuve','Rejeté':'rejete','Caché':'cache',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in commentaire.Etat %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}
<li class="list-group-item"><h6>Message</h6>
<hr>{{commentaire.Message}}
<li class="list-group-item"><h6>Date</h6>
<hr>{{commentaire.Date ? commentaire.Date|date('Y-m-d H:i:s') : ''}}
<td>{{commentaire.user|json_encode}}
<td>{{commentaire.article|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{commentaire.id}}
    </ul>
    </div>
<a href="{{ path('commentaire_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}