{% extends 'admin.html.twig' %}

{% block title %}  Sous-Categorie 
{% endblock %}
{% block body %} <h1> Sous-Categorie </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Titre</th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  souscat  in  souscats  %}
            <tr>
    <td>{{souscat.Titre}}</td>
<td>
                    <form method='post' action="{{ path('souscat_delete', {'id':  souscat.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                    <div class='row'>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  souscat . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('souscat_show', {'id':  souscat.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('souscat_edit', {'id':  souscat.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('souscat_copy', {'id':  souscat.id }) }}"><i class="icone fas fa-copy "></i></a>
                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </div>
                        </form>
                        </td>
            </tr>
            {% else %}
            <tr>
                <td colspan=9>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('souscat_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}