{% extends 'base.html.twig' %}

{% block title %}{{souscat.Titre}}
{% endblock %}
{% block arianne %}

<div {% set route=path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %} {% set
    action=path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|split('/')|last %}
    {{route}} class="col-xl-5 d-flex flex-column">
    <h2 class="mt-auto mb-auto pt-5">
        {{route}} future fil d'arianne
    </h2>

</div>
{% endblock arianne %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12  text-center">
            <h2 class="chapitre">
                {{ souscat.Titre }}
            </h2>
            <hr>
            <span class="span-primary" style="color: {{ souscat.categorie.couleur }};">
                {{ souscat.categorie.Nom }}
            </span>
        </div>
        <div class="text-center p-0 d-flex col">
            <div class="row w-100 justify-content-around  mt-2">
                {% for article in souscat.articles %}
                <div class="card border-0 col-xl-3 flex-fill bg-transparent">
                    {% set link = asset('/uploads/Multimedia/' ~ article.Multimedia) %}
                    <div class="card-body text-center px-0 justify-content-center d-flex flex-column pt-0 pb-2">
                        <div class="card-img-top img-fluid rounded-circle img-shadow bg-white"
                            style=" height:13.5rem; width:13.5rem; background-image: url('{{link}}'); background-size:cover; background-position:center;">
                        </div>
                        <h3 class="titre_produit-gris">
                            {{ article.Titre }}
                        </h3>
                        <br>
                        <a href="{{ path('article_show', {'id':  article.id }) }}" class="btn btn-rose mt-auto"
                            style="background-color:{{ souscat.couleur }};">Voir le produit</a>
                    </div>
                </div>
                {% else %}
                <div class="col-2">
                    <h3 class="titre_produit-gris">
                        Aucun produit disponible
                    </h3>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}