{% extends 'admin.html.twig' %}

{% block title %} Fichier
{% endblock %}
{% block body %} <h1> Fichier </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Image </th>
                <th>Tag </th>
                <th>Degrade </th>
                <th>Enligne </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fichier in fichier %}
            <tr>
                <td>{{fichier.Image}}</td>
                <td>{{fichier.Tag}}</td>
                <td>{% set options={'Oui':'true', 'Non':'false',} %}
                    {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in fichier.Degrade %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
                <td>{% set options={'Oui':'true', 'Non':'false',} %}
                    {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in fichier.Enligne %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
                <td>
                    <form method='post' action="{{ path('fichier_delete', {'id':  fichier.id }) }}"
                        onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  fichier . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir'
                            href="{{ path('fichier_show', {'id':  fichier.id }) }}"><i
                                class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer'
                            href="{{ path('fichier_edit', {'id':  fichier.id }) }}"><i
                                class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer'
                            href="{{ path('fichier_copy', {'id':  fichier.id }) }}"><i
                                class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=6>Aucun enregistrement</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div><a href="{{ path('fichier_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}