{% extends 'admin.html.twig' %}

{% block title %} Materiel
{% endblock %}
{% block body %} <h1> Materiel </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Article </th>
                <th>LiensInterne </th>
                <th>LiensExterne </th>
                <th>Id </th>
                <th>Nom </th>
                <th>Description </th>
                <th>Quantite </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for materiel in materiel %}
            <tr>
                <td>{{materiel.article|json_encode}}</td>
                <td>{{materiel.LiensInterne|json_encode}}</td>
                <td>{{materiel.LiensExterne|json_encode}}</td>
                <td>{{materiel.id}}</td>
                <td>{{materiel.Nom}}</td>
                <td>{{materiel.Description}}</td>
                <td>{{materiel.Quantite}}</td>
                <td>
                    <form method='post' action="{{ path('materiel_delete', {'id':  materiel.id }) }}"
                        onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  materiel . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir'
                            href="{{ path('materiel_show', {'id':  materiel.id }) }}"><i
                                class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer'
                            href="{{ path('materiel_edit', {'id':  materiel.id }) }}"><i
                                class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer'
                            href="{{ path('materiel_copy', {'id':  materiel.id }) }}"><i
                                class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=5>Aucun enregistrement</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div><a href="{{ path('materiel_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}