{% extends 'admin.html.twig' %}

{% block title %}  Categories 
{% endblock %}
{% block body %} <h1> Categories </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Articles </th><th>Promotions </th><th>Id </th><th>Nom </th><th>Description </th><th>Etat </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  category  in  categories  %}
            <tr>
<td>{{category.articles|json_encode}}</td>
<td>{{category.Promotions|json_encode}}</td>
<td>{{category.id}}</td>
<td>{{category.Nom}}</td>
<td>{{category.Description}}</td>
<td>{% set options={'Actif':'true','Inactif':'false',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in categories.Etat %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td><td>
                    <form method='post' action="{{ path('categories_delete', {'id':  category.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  category . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('categories_show', {'id':  category.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('categories_edit', {'id':  category.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('categories_copy', {'id':  category.id }) }}"><i class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=5>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('categories_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}