{% extends 'admin.html.twig' %}

{% block title %}  Commande 
{% endblock %}
{% block body %} <h1> Commande </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Date </th><th>User </th><th>Article </th><th>Promotion </th><th>Id </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  commande  in  commandes  %}
            <tr>
<td>{{commande.Date ? commande.Date|date('Y-m-d H:i:s') : ''}}</td>
<td>{% for item in  commande.User %}
    {{ item }},
  {% endfor %}</td>
<td>{% for item in  commande.Article %}
    {{ item }},
  {% endfor %}</td>
<td>{% for item in  commande.Promotion %}
    {{ item }},
  {% endfor %}</td>
<td>{{commande.id}}</td><td>
                    <form method='post' action="{{ path('commande_delete', {'id':  commande.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                    <div class='row'>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  commande . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('commande_show', {'id':  commande.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('commande_edit', {'id':  commande.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('commande_copy', {'id':  commande.id }) }}"><i class="icone fas fa-copy "></i></a>
                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </div>
                        </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=3>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('commande_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}