{% extends 'admin.html.twig' %}

{% block title %}Voir User 
{% endblock %}
{% block body %} <h1>Voir User </h1>{% if 'ROLE_SUPER_ADMIN' not in user.roles %}<div class="col-12">
<ul class="list-group">
<li class="list-group-item"><h6>Email</h6>
<hr>{{user.email}}Roles{% set options={'Admin':'ROLE_ADMIN',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in user.roles %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}
<li class="list-group-item"><h6>Password</h6>
<hr>{{user.password}}
<li class="list-group-item"><h6>Nom</h6>
<hr>{{user.Nom}}
<li class="list-group-item"><h6>Prenom</h6>
<hr>{{user.Prenom}}Sexe{% set options={'Homme':'m', 'Femme':'f',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in user.Sexe %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}
<li class="list-group-item"><h6>Adresse</h6>
<hr>{{user.Adresse}}
<li class="list-group-item"><h6>CodePostal</h6>
<hr>{{user.CodePostal}}
<li class="list-group-item"><h6>Ville</h6>
<hr>{{user.Ville}}
<li class="list-group-item"><h6>Region</h6>
<hr>{{user.Region}}
<li class="list-group-item"><h6>Mobile</h6>
<hr>{{user.Mobile}}
<li class="list-group-item"><h6>Fixe</h6>
<hr>{{user.Fixe}}
<li class="list-group-item"><h6>Pays</h6>
<hr>{{user.Pays}}
<td>{{user.ArticleAchetes|json_encode}}
<td>{{user.Commentaire|json_encode}}
<td>{{user.commande|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{user.id}}
    </ul>
    </div>
<a href="{{ path('user_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}