{% extends 'admin.html.twig' %}{% block title %}Edition Materiels{% endblock %}

{% block body %}
<h1>Editer Materiels </h1>

{{ form_start(form) }}
{{ form_row(form.articles) }}{{ form_row(form.LiensInternes) }}{{ form_row(form.LiensExternes) }}{{ form_row(form.id) }}{{ form_row(form.Nom) }}{{ form_row(form.Description) }}{{ form_row(form.Quantite) }}
<button class="btn btn-primary mr-2" type="submit">Mettre à jour</button>
<a href="{{ path('materiels_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>

{{ form_end(form, {'render_rest': false}) }}
{{ include('materiels/_delete_form.html.twig') }}
{% endblock %}