{% extends 'admin.html.twig' %}

{% block title %}Voir Materiels 
{% endblock %}
{% block body %} <h1>Voir Materiels </h1>
<div class='table-responsive'>
    <table class='table'>
<td>{{materiel.articles|json_encode}}</td>
</tr>
<td>{{materiel.LiensInternes|json_encode}}</td>
</tr>
<td>{{materiel.LiensExternes|json_encode}}</td>
</tr>
<tr>
<th>Id</th>
<td>{{materiel.id}}</td>
</tr>
<tr>
<th>Nom</th>
<td>{{materiel.Nom}}</td>
</tr>
<tr>
<th>Description</th>
<td>{{materiel.Description}}</td>
</tr>
<tr>
<th>Quantite</th>
<td>{{materiel.Quantite}}</td>
</tr><td>
    <form method='post' action="{{ path('materiels_delete', {'id':  materiel.id }) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  materiel . id ) }}">
        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('materiels_copy', {'id':  materiel.id }) }}">Dupliquer</a>
        <a href='{{ path('materiels_index') }}'><button class='btn btn-secondary mr-2' type='button'>Revenir à la liste</button></a>
        <button class="btn btn-xs btn-warning ">Supprimer</button>
    </form>
    </tr>{% endif %}
    </tbody>
    </table>
    </div><a href="{{ path('materiels_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>

{{ include('materiels/_delete_form.html.twig') }}
    {% endblock %}