{% extends 'admin.html.twig' %}{% block title %}Edition Materiel{% endblock %}

{% block body %}
<h1>Editer Materiel </h1>

{{ form_start(form) }}
{{ form_row(form.article) }}{{ form_row(form.LiensInterne) }}{{ form_row(form.LiensExterne) }}{{ form_row(form.id)
}}{{ form_row(form.Nom) }}{{ form_row(form.Description) }}{{ form_row(form.Quantite) }}
<button class="btn btn-primary mr-2" type="submit">Mettre à jour</button>
<a href="{{ path('materiel_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>

{{ form_end(form, {'render_rest': false}) }}
{{ include('materiel/_delete_form.html.twig') }}
{% endblock %}