{% extends 'admin.html.twig' %}

{% block title %}  Articles 
{% endblock %}
{% block body %} <h1> Articles </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Users </th><th>Promotions </th><th>Categories </th><th>Fichiers </th><th>Materiels </th><th>Commentaires </th><th>Commandes </th><th>Id </th><th>Titre </th><th>Description </th><th>Multimedia </th><th>Etat </th><th>Quantite </th><th>FraisEnvoi </th><th>Prix </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  article  in  articles  %}
            <tr>
<td>{{article.Users|json_encode}}</td>
<td>{{article.Promotions|json_encode}}</td>
<td>{{article.Categories|json_encode}}</td>
<td>{{article.Fichiers|json_encode}}</td>
<td>{{article.Materiels|json_encode}}</td>
<td>{{article.Commentaires|json_encode}}</td>
<td>{{article.commandes|json_encode}}</td>
<td>{{article.id}}</td>
<td>{{article.Titre}}</td>
<td>{{article.Description}}</td>
<td>{{article.Multimedia}}</td>
<td>{% set options={'Actif':'actif', 'En rupture':'rupture','Arrêté':'arret','En réapprovisionnement':'reapprovisionnement',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in articles.Etat %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
<td>{{article.Quantite}}</td>
<td>{{article.FraisEnvoi}}</td>
<td>{{article.Prix}}</td><td>
                    <form method='post' action="{{ path('articles_delete', {'id':  article.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  article . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('articles_show', {'id':  article.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('articles_edit', {'id':  article.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('articles_copy', {'id':  article.id }) }}"><i class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=9>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('articles_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}