{% extends 'admin.html.twig' %}

{% block title %}Voir Materiel 
{% endblock %}
{% block body %} <h1>Voir Materiel </h1><div class="col-12">
<ul class="list-group">
<li class="list-group-item"><h6>Nom</h6>
<hr>{{materiel.Nom}}
<li class="list-group-item"><h6>Description</h6>
<hr>{{materiel.Description}}
<li class="list-group-item"><h6>Quantite</h6>
<hr>{{materiel.Quantite}}
<td>{{materiel.article|json_encode}}
<td>{{materiel.LiensInterne|json_encode}}
<td>{{materiel.LiensExterne|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{materiel.id}}
    </ul>
    </div>
<a href="{{ path('materiel_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}