{% extends 'admin.html.twig' %}

{% block title %} Commentaire
{% endblock %}
{% block body %} <h1> Commentaire </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>User </th>
                <th>Etat </th>
                <th>Message </th>
                <th>Date </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commentaire in commentaire %}
            <tr>
                <td>{{commentaire.user|json_encode}}</td>
                <td>{% set options={'Approuvé':'approuve','Rejeté':'rejete','Caché':'cache',} %}
                    {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in commentaire.Etat %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
                <td>{{commentaire.Message}}</td>
                <td>{{commentaire.Date ? commentaire.Date|date('Y-m-d H:i:s') : ''}}</td>
                <td>
                    <form method='post' action="{{ path('commentaire_delete', {'id':  commentaire.id }) }}"
                        onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  commentaire . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir'
                            href="{{ path('commentaire_show', {'id':  commentaire.id }) }}"><i
                                class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer'
                            href="{{ path('commentaire_edit', {'id':  commentaire.id }) }}"><i
                                class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer'
                            href="{{ path('commentaire_copy', {'id':  commentaire.id }) }}"><i
                                class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=5>Aucun enregistrement</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div><a href="{{ path('commentaire_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}