{% extends 'admin.html.twig' %}

{% block title %}  Promotions 
{% endblock %}
{% block body %} <h1> Promotions </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Articles </th><th>Categories </th><th>Commandes </th><th>Id </th><th>DateStart </th><th>DateEnd </th><th>Etat </th><th>Nom </th><th>Description </th><th>Type </th><th>Valeur </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  promotion  in  promotions  %}
            <tr>
<td>{{promotion.articles|json_encode}}</td>
<td>{{promotion.categories|json_encode}}</td>
<td>{{promotion.commandes|json_encode}}</td>
<td>{{promotion.id}}</td>
<td>{{promotion.DateStart ? promotion.DateStart|date('Y-m-d H:i:s') : ''}}</td>
<td>{{promotion.DateEnd ? promotion.DateEnd|date('Y-m-d H:i:s') : ''}}</td>
<td>{{promotion.Etat ? 'Yes' : 'No'}}</td>
<td>{{promotion.Nom}}</td>
<td>{{promotion.Description}}</td>
<td>{{promotion.Type}}</td>
<td>{{promotion.Valeur}}</td><td>
                    <form method='post' action="{{ path('promotions_delete', {'id':  promotion.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  promotion . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('promotions_show', {'id':  promotion.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('promotions_edit', {'id':  promotion.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('promotions_copy', {'id':  promotion.id }) }}"><i class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=9>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('promotions_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}