{% extends 'admin.html.twig' %}

{% block title %}Voir Promotions 
{% endblock %}
{% block body %} <h1>Voir Promotions </h1>
<div class='table-responsive'>
    <table class='table'>
<tr>
<th>DateStart</th>
<td>{{promotion.DateStart ? promotion.DateStart|date('Y-m-d H:i:s') : ''}}</td>
</tr>
<tr>
<th>DateEnd</th>
<td>{{promotion.DateEnd ? promotion.DateEnd|date('Y-m-d H:i:s') : ''}}</td>
</tr>
<tr>
<th>Etat</th>
<td>{% set options={'Actif':'true', 'Passif':'false',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in promotions.Etat %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
</tr>
<tr>
<th>Nom</th>
<td>{{promotion.Nom}}</td>
</tr>
<tr>
<th>Description</th>
<td>{{promotion.Description}}</td>
</tr>
<tr>
<th>Type</th>
<td>{% set options={"Pourcentage sur l'achat":'achat','Pourcentage sur la livraison':'livraison',"Montant sur l'achat":'montant_achat','...':'ect',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in promotions.Type %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
</tr>
<tr>
<th>Valeur</th>
<td>{{promotion.Valeur}}</td>
</tr><td>
    <form method='post' action="{{ path('promotions_delete', {'id':  promotion.id }) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  promotion . id ) }}">
        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('promotions_copy', {'id':  promotion.id }) }}">Dupliquer</a>
        <a href='{{ path('promotions_index') }}'><button class='btn btn-secondary mr-2' type='button'>Revenir à la liste</button></a>
        <button class="btn btn-xs btn-warning ">Supprimer</button>
    </form>
    </tr>
    </tbody>
    </table>
    </div><a href="{{ path('promotions_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>

{{ include('promotions/_delete_form.html.twig') }}
    {% endblock %}