{% extends 'admin.html.twig' %}

{% block title %}Voir LiensExterne 
{% endblock %}
{% block body %} <h1>Voir LiensExterne </h1><div class="col-12">
<ul class="list-group">
<li class="list-group-item"><h6>Site</h6>
<hr>{{liens_externe.Site}}
<li class="list-group-item"><h6>Url</h6>
<hr>{{liens_externe.Url}}
<li class="list-group-item"><h6>Prix</h6>
<hr>{{liens_externe.Prix}}
<li class="list-group-item"><h6>Observation</h6>
<hr>{{liens_externe.Observation}}
<td>{{liens_externe.materiel|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{liens_externe.id}}
    </ul>
    </div>
<a href="{{ path('liens_externe_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}