<!DOCTYPE html>
<html>
	{% set route=path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
	{% set action=path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params'))|split('/')|last
%}

	{% set route=path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	{% set
action=path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|split('/')|last %}

	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex">

		<title>
			{% block title %}Administration!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>


	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="nav-link" class="navbar-brand" href="{{path('admin')}}">Administration</a>
				<a class="nav-link" class="navbar-brand" href="{{path('home')}}">Retour sur le site</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						{% set menus = ['article','categorie','materiel'] %}
						{% for menu in menus %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path(menu~'_index') }}">{{menu|capitalize}}s</a>
							</li>
						{% endfor %}

					</ul>
				</div>
			</nav>
		{% endblock %}
		<div class="container-fluid">
			<div class="row"> {% block body %}{% endblock %}
				</div>
			</div>

		</body>

	</html>
