<!DOCTYPE html>
<html>
{% set route=path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
{% set action=path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params'))|split('/')|last
%}


<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <nav>
        <div class="container-fluid position-absolute">
            <div class="row" id="navbarParent">
                <div class="logo col-12 text-center">
                    <a href="{{ path('home') }}">
                        <img class="img-fluid" src="{{ asset('build/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="col-md-9 offset-md-3">
                    <div class="row w-100 navbar py-2">
                        <div class="col-md-3 d-flex flex-column">
                            <div class="nav-item">
                                <a href="" id="nav_materiel" data-toggle="collapse" data-target="#materiel_collapse"
                                    aria-controls="materiel_collapse" aria-expanded="false" data-parent="#navbarParent"
                                    class="m-0 mt-auto mb-auto dropdown-dessin py-3 px-1 a_no_syle nav-collapse">
                                    jeux avec du petit matériel
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <div class="nav-item">
                                <a href="" id="nav_materiel" data-toggle="collapse" data-target="#apprendre_collapse"
                                    aria-controls="apprendre_collapse" aria-expanded="false" data-parent="#navbarParent"
                                    class="m-0 mt-auto mb-auto dropdown-dessin py-3 px-1 a_no_syle nav-collapse">
                                    apprendre en s’amusant
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex flex-column">
                            <div class="nav-item">
                                <a href="" id="nav_materiel" data-toggle="collapse" data-target="#age_collapse"
                                    aria-controls="age_collapse" aria-expanded="false" data-parent="#navbarParent"
                                    class="m-0 mt-auto mb-auto dropdown-dessin py-3 px-1 a_no_syle nav-collapse">
                                    jeux de mon âge
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex flex-column">
                            <h2 class="m-0 mt-auto mb-auto dropdown-dessin py-3">
                                <a class="a_no_syle" href="{{ path('home') }}">contactez-moi</a>
                            </h2>
                        </div>
                        <div class="col-md-2  d-flex flex-column">
                            <h2 class="m-0 mt-auto mb-auto d-flex justify-content-around">
                                <a href="{{ path('admin') }}">
                                    <i class="fa fa-user m-1" aria-hidden="true"></i>
                                </a>
                                <i class="fa fa-heart m-1" aria-hidden="true"></i>
                                <i class="fa fa-shopping-basket m-1" aria-hidden="true"></i>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 offset-md-3 mt-n3">
                    <div class="collapse-menu collapse row ml-3" id="materiel_collapse" data-parent="#navbarParent">
                        <div class="col-4 pr-0">
                            <a href="#" class="a_no_syle">Développement web</a>
                            <br>
                            <a href="#" class="a_no_syle">Développement mobile</a>
                            <br>
                            <a href="#" class="a_no_syle">UX et Design</a>
                            <br>
                            <a href="#" class="a_no_syle">Infographie</a>
                        </div>
                        <div class="col-4 pr-0">
                            <a href="#" class="a_no_syle">HTML et CSS</a>
                            <br>
                            <a href="#" class="a_no_syle">BOOTSTRAP</a>
                            <br>
                            <a href="#" class="a_no_syle">PHP et LARAVEL</a>
                            <br>
                            <a href="#" class="a_no_syle">JAVASCRIPT et VUE.JS</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="a_no_syle">Visual Studio Code</a>
                            <br>
                            <a href="#" class="a_no_syle">Laragon</a>
                            <br>
                            <a href="#" class="a_no_syle">Google Chrome</a>
                            <br>
                            <a href="#" class="a_no_syle">Windows 10</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 offset-md-3 mt-n3">
                    <div class="collapse-menu collapse row ml-3" id="apprendre_collapse" data-parent="#navbarParent">
                        <div class="col-3 pr-0">
                            <a href="#" class="a_no_syle">Les p'tits défis</a>
                            <br>
                            <a href="#" class="a_no_syle">Les p'tits défis scientifiques</a>
                        </div>
                        <div class="col-3 pr-0">
                            <a href="#" class="a_no_syle">Les p’tits dicos</a>
                            <br>
                            <a href="#" class="a_no_syle">Le corps humain</a>
                        </div>
                        <div class="col-3 pr-0">
                            <a href="#" class="a_no_syle">La ferme</a>
                            <br>
                            <a href="#" class="a_no_syle">les dinosaures</a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="a_no_syle">Les fruits & légumes</a>
                            <br>
                            <a href="#" class="a_no_syle">Les insectes</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 offset-md-3 mt-n3">
                    <div class="collapse-menu collapse row ml-3 text-center" id="age_collapse"
                        data-parent="#navbarParent">
                        <div class="col-4 pr-0">
                            <a href="#" class="a_no_syle"><img src="{{ asset('build/3_ans_nav.png') }}" alt="">
                            </a>
                        </div>
                        <div class="col-4 pr-0">
                            <a href="#" class="a_no_syle"><img src="{{ asset('build/4_ans_nav.png') }}" alt="">
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="a_no_syle"><img src="{{ asset('build/5_ans_nav.png') }}" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row w-100">
            <div class="col-md-4 mr-2">
                <div>
                    <img src="{{ asset('build/rachel_photo.png') }}" class="rounded-circle img-fluid img-pos">
                </div>
                <div class="row">
                    <div class="col offset-6  mt-n5 ">
                        <img class="img-fluid rotate" src="{{ asset('build/etoile.png') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column">
                <h2 class="mt-auto">
                    bienvenue sur ma boutique
                </h2>
                <span class="span-primary">
                    Vous y trouverez des idées de jeux, des fiches à imprimer pour apprendre en jouant destinés aux
                    enfants
                    en maternelle de
                    3 à 6 ans.
                </span>
                <span class="span-secondary">
                    Sélectionnez, téléchargez, imprimez, découpez, assemblez et amusez-vous avec vos p’tits loups !
                </span>
            </div>
        </div>

    </nav>
    {% block body %}
    <a href="{{ path('admin') }}"></a>
    {% endblock %}
    <footer>
        {% block footer %}
        <div class="container my-5">
            <hr>
            <div class="row">
                <div class="col-3">
                    <h4 class="h4-footer">
                        informations
                    </h4>
                    <span class=" span-primary-footer">
                        Conditions générales de vente
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Mentions légales
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Questions fréquentes
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        RGPD - politique de confidentialité
                        <br>
                    </span>
                </div>
                <div class="col-3">
                    <h4 class="h4-footer">
                        moyens de paiement
                    </h4>
                    <span class=" span-primary-footer">
                        Carte Maestro
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Carte Master Card
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Carte Visa
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        PayPal
                        <br>
                    </span>
                </div>
                <div class="col-3">
                    <h4 class="h4-footer">
                        mentions
                    </h4>
                    <span class=" span-primary-footer">
                        Les documents de cette boutique sont protégés et sous droits d'auteur. <br>
                    </span>
                    <span class="span-primary-footer">
                        Les prix incluent la TVA.<br>
                    </span>
                </div>
                <div class="col-3">
                    <h4 class="h4-footer">
                        suivez-moi sur facebook
                    </h4>
                    <div class="span-primary-footer">
                        <a href="https://www.facebook.com/rachouentrinstits/">
                            <img class="img-fluid" src="{{ asset('build/logo.png') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>

</body>

</html>