<!DOCTYPE html>
<html>
{% set route=path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
{% set action=path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params'))|split('/')|last
%}


<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <nav>
        <div class="container-fluid position-absolute">
            <div class="row">
                <div class="logo col-12 text-center">
                    <a href="{{ path('home') }}">
                        <img class="img-fluid" src="{{ asset('build/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="col-md-9 offset-md-3">
                    <div class="row w-100 navbar">
                        <div class="col-md-3 d-flex flex-column">
                            <h1 class="m-0 mt-auto mb-auto">jeux avec du petit matériel</h1>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <h1 class="m-0 mt-auto mb-auto">apprendre en s’amusant</h1>
                        </div>
                        <div class="col-md-2 d-flex flex-column">
                            <h1 class="m-0 mt-auto mb-auto">jeux de mon âge</h1>
                        </div>
                        <div class="col-md-2 d-flex flex-column">
                            <h1 class="m-0 mt-auto mb-auto">contactez-moi</h1>
                        </div>
                        <div class="col-md-2  d-flex flex-column">
                            <h1 class="m-0 mt-auto mb-auto d-flex justify-content-around">
                                <a href="{{ path('admin') }}">
                                    <i class="fa fa-user m-1" aria-hidden="true"></i>
                                </a>
                                <i class="fa fa-heart m-1" aria-hidden="true"></i>
                                <i class="fa fa-shopping-basket m-1" aria-hidden="true"></i>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-md-4 mr-2">
                <img src="{{ asset('build/rachel_photo.png') }}" class="rounded-circle img-fluid rotate">
            </div>
            <div class="col-md-5 d-flex flex-column">
                <h1 class="mt-auto">
                    bienvenue sur ma boutique
                </h1>
                <span class="span-primary">
                    Vous y trouverez des idées de jeux, des fiches à imprimer pour apprendre en jouant destinés aux
                    enfants
                    en maternelle de
                    3 à 6 ans.
                </span>
                <span class="span-secondary">
                    Sélectionnez, téléchargez, imprimez, découpez, assemblez et amusez-vous avec vos p’tits loups !
                </span>
            </div>
        </div>

    </nav>
    {% block body %}
    <a href="{{ path('admin') }}"></a>
    {% endblock %}
    <footer>
        {% block footer %}
        <div class="container my-5">
            <hr>
            <div class="row">
                <div class="col-3">
                    <h4 class="h4-footer">
                        informations
                    </h4>
                    <span class=" span-primary-footer">
                        Conditions générales de vente
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Mentions légales
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Questions fréquentes
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        RGPD - politique de confidentialité
                        <br>
                    </span>
                </div>
                <div class="col-3">
                    <h4 class="h4-footer">
                        moyens de paiement
                    </h4>
                    <span class=" span-primary-footer">
                        Carte Maestro
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Carte Master Card
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        Carte Visa
                        <br>
                    </span>
                    <span class="span-primary-footer">
                        PayPal
                        <br>
                    </span>
                </div>
                <div class="col-3">
                    <h4 class="h4-footer">
                        mentions
                    </h4>
                    <span class=" span-primary-footer">
                        Les documents de cette boutique sont protégés et sous droits d'auteur. <br>
                    </span>
                    <span class="span-primary-footer">
                        Les prix incluent la TVA.<br>
                    </span>
                </div>
                <div class="col-3">
                    <h4 class="h4-footer">
                        suivez-moi sur facebook
                    </h4>
                    <div class="span-primary-footer">
                        <a href="https://www.facebook.com/rachouentrinstits/">
                            <img class="img-fluid" src="{{ asset('build/logo.png') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>

</body>

</html>