{% extends 'admin.html.twig' %}{% block title %}Edition LiensExternes{% endblock %}

{% block body %}
<h1>Editer LiensExternes </h1>

{{ form_start(form) }}
{{ form_row(form.materiels) }}{{ form_row(form.id) }}{{ form_row(form.Site) }}{{ form_row(form.Url) }}{{ form_row(form.Prix) }}{{ form_row(form.Observation) }}
<button class="btn btn-primary mr-2" type="submit">Mettre à jour</button>
<a href="{{ path('liens_externes_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>

{{ form_end(form, {'render_rest': false}) }}
{{ include('liens_externes/_delete_form.html.twig') }}
{% endblock %}