{% extends 'admin.html.twig' %}

{% block title %}  LiensExternes 
{% endblock %}
{% block body %} <h1> LiensExternes </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Materiels </th><th>Id </th><th>Site </th><th>Url </th><th>Prix </th><th>Observation </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  liens_externe  in  liens_externes  %}
            <tr>
<td>{{liens_externe.materiels|json_encode}}</td>
<td>{{liens_externe.id}}</td>
<td>{{liens_externe.Site}}</td>
<td>{{liens_externe.Url}}</td>
<td>{{liens_externe.Prix}}</td>
<td>{{liens_externe.Observation}}</td><td>
                    <form method='post' action="{{ path('liens_externes_delete', {'id':  liens_externe.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  liens_externe . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('liens_externes_show', {'id':  liens_externe.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('liens_externes_edit', {'id':  liens_externe.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('liens_externes_copy', {'id':  liens_externe.id }) }}"><i class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=6>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('liens_externes_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}