{% extends 'admin.html.twig' %}

{% block title %}  User 
{% endblock %}
{% block body %} <h1> User </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Email </th><th>Nom </th><th>Prenom </th><th>Mobile </th><th>Fixe </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  user  in  users  %}
            <tr>{% if 'ROLE_SUPER_ADMIN' not in user.roles %}
<td>{{user.email}}</td>
<td>{{user.Nom}}</td>
<td>{{user.Prenom}}</td>
<td>{{user.Mobile}}</td>
<td>{{user.Fixe}}</td><td>
                    <form method='post' action="{{ path('user_delete', {'id':  user.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  user . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('user_show', {'id':  user.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('user_edit', {'id':  user.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('user_copy', {'id':  user.id }) }}"><i class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>{% endif %}
            {% else %}
            <tr>
                <td colspan=15>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('user_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}