{% extends 'admin/admin.html.twig' %}
{% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set action = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | split('/') |
last %}

{% block title %}
    {% if action=='new'  %}Création
        {% elseif action=='copy' %}Duplication 
        {% elseif action=='edit' %}Edition
    {% endif %} Souscategorie
{% endblock %}

{% block body %}

<div class="col-12 text-center">
    <h1>{% if action=='new'  %}Créer {% elseif action=='copy' %}Dupliquer {% elseif action=='edit' %}Editer{% endif %} Souscategorie
        <span class="text-right">
            <h5>taille maxi d'envoie:{{upload_max()}} Mo</h5>
        </span>
    </h1>
</div>
<div class="col-12">
    {{ form_start(form) }}

    {{ form_row(form.titre) }} 

    {{ form_row(form.image) }} 
<div class="form-group">
    {%if souscategorie.image %}
        <img height=100px src="{{voir('image/'~souscategorie.image)}}"> 
    {% endif %}
</div>
    {{ form_row(form.description) }} 

 <button class="btn btn-primary" type="submit">
    {% if action=='new'  %}Créer 
    {% else %}Mettre à jour
    {% endif %}
 </button>
<a href="{{ path('souscategorie_index') }}">
    <button class="btn btn-secondary" type="button">Revenir à la liste</button>
</a>
<input type="hidden" id="token" value="{{ csrf_token('upload')}}" />
{{ form_end(form) }}
</div>
{% endblock %}
                    