{% extends 'admin/admin.html.twig' %}
{% block title %}  Souscategorie 
    {% endblock %}
{% block body %} 
<h1> Souscategorie </h1>
<div class="col-12">
<ul class="list-group">
<li class="list-group-item">
        <h6>Id</h6>

        <hr>{{souscategorie.id}}
<li class="list-group-item">
        <h6>Titre</h6>

        <hr>{{souscategorie.titre}}
<li class="list-group-item">
        <h6>Image</h6>

        <hr>{%if souscategorie.image %}<a data-toggle='popover-hover' data-original-title="" title="" data-img="{{voir('image/'~souscategorie.image)}}"><img height=100px src="{{voir('image/'~souscategorie.image)}}"></a> {% endif %}
<li class="list-group-item">
        <h6>Description</h6>

        <hr>{{souscategorie.description}}
    </ul>
    </div>
<a href="{{ path('souscategorie_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}