{% extends 'admin.html.twig' %}

{% block title %}Voir Categorie
{% endblock %}
{% block body %} <h1>Voir Categorie </h1>
<div class='table-responsive'>
    <table class='table'>
        <tr>
            <th>Nom</th>
            <td>{{category.Nom}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{category.Description}}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{% set options={'Actif':'true','Inactif':'false',} %}
                {% set res=[] %}
                {% for key,option in options %}
                {% if option in categorie.Etat %}
                {% set res=res|merge([key]) %}
                {% endif %}
                {% endfor %}
                {{res|json_encode}}</td>
        </tr>
        <td>
            <form method='post' action="{{ path('categorie_delete', {'id':  category.id }) }}"
                onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  category . id ) }}">
                <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer'
                    href="{{ path('categorie_copy', {'id':  category.id }) }}">Dupliquer</a>
                <a href='{{ path(' categorie_index') }}'><button class='btn btn-secondary mr-2' type='button'>Revenir à
                        la liste</button></a>
                <button class="btn btn-xs btn-warning ">Supprimer</button>
            </form>
            </tr>
            </tbody>
    </table>
</div><a href="{{ path('categorie_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>

{{ include('categorie/_delete_form.html.twig') }}
{% endblock %}