{% extends 'admin.html.twig' %}

{% block title %} Commandes
{% endblock %}
{% block body %} <h1> Commandes </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>User </th>
                <th>Article </th>
                <th>Promotions </th>
                <th>Id </th>
                <th>Date </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{commande.User|json_encode}}</td>
                <td>{{commande.Article|json_encode}}</td>
                <td>{{commande.Promotions|json_encode}}</td>
                <td>{{commande.id}}</td>
                <td>{{commande.Date ? commande.Date|date('Y-m-d H:i:s') : ''}}</td>
                <td>
                    <form method='post' action="{{ path('commandes_delete', {'id':  commande.id }) }}"
                        onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  commande . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir'
                            href="{{ path('commandes_show', {'id':  commande.id }) }}"><i
                                class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer'
                            href="{{ path('commandes_edit', {'id':  commande.id }) }}"><i
                                class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer'
                            href="{{ path('commandes_copy', {'id':  commande.id }) }}"><i
                                class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=3>Aucun enregistrement</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div><a href="{{ path('commandes_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}