{% extends 'admin.html.twig' %}
{% block title %}
	Article
{% endblock %}
{% block body %}
	<h1>
		Article
	</h1>
	<div class='table-responsive'>
		<table class='table'>
			<thead>
				<tr>
					<th>Titre
					</th>
					<th>Description
					</th>
					<th>Etat
					</th>
					<th>Quantite
					</th>
					<th>Prix
					</th>
					<th>Sous-catégorie</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for  article  in  articles %}
					<tr>
						<td>{{article.Titre}}</td>
						<td>{{article.Description}}</td>
						<td>{% set options={'Actif':'actif', 'En rupture':'rupture','Arrêté':'arret','En réapprovisionnement':'reapprovisionnement',} %}{% set res=[] %}
							{% for key,option in options %}
								{% if option in article.Etat %}
									{% set res=res|merge([key]) %}
								{% endif %}
							{% endfor %}
							{{res|json_encode}}
						</td>
						<td>{{article.Quantite}}</td>
						<td>{{article.Prix}}</td>
						{#
																		<td>
																			{% for item in  article.Promotion %}
																				{{item}}
																				,
																			{% endfor %}
																		</td>
																		#
																		        }
																		<td>
																			{% for item in  article.souscats %}
																				{{item.Titre}}
																				,
																			{% endfor %}
																		</td>
																		{
																		            #
																		<td>
																			{% for item in  article.Materiel %}
																				{{item}}
																				,
																			{% endfor %}
																		</td>
																		#}
						<td>
							<form method='post' action="{{ path('article_delete', {'id': article.id }) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
								<div class='row'>
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article . id ) }}">
									<a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('article_show', {'id': article.id }) }}">
										<i class="icone fas fa-glasses "></i>
									</a>
									<a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('article_edit', {'id': article.id }) }}">
										<i class="icone fas fa-pen "></i>
									</a>
									<a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('article_copy', {'id': article.id }) }}">
										<i class="icone fas fa-copy "></i>
									</a>
									<button class="btn btn-xs btn-warning ">
										<i class="icone fas fa-trash "></i>
									</button>
								</div>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Aucun enregistrement</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
	<a href="{{ path('article_new') }}">
		<button class="btn btn-secondary" type="button">Ajouter</button>
	</a>
{% endblock %}
