{% extends 'admin.html.twig' %}

{% block title %}Voir Article 
{% endblock %}
{% block body %} <h1>Voir Article </h1><div class="col-12">
<ul class="list-group">
<li class="list-group-item"><h6>Titre</h6>
<hr>{{article.Titre}}
<li class="list-group-item"><h6>Description</h6>
<hr>{{article.Description}}
<li class="list-group-item"><h6>Multimedia</h6>
<hr>{{article.Multimedia}}Etat{% set options={'Actif':'actif', 'En rupture':'rupture','Arrêté':'arret','En réapprovisionnement':'reapprovisionnement',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in article.Etat %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}
<li class="list-group-item"><h6>Quantite</h6>
<hr>{{article.Quantite}}
<li class="list-group-item"><h6>FraisEnvoi</h6>
<hr>{{article.FraisEnvoi}}
<li class="list-group-item"><h6>Prix</h6>
<hr>{{article.Prix}}
<td>{{article.Users|json_encode}}
<td>{{article.Promotion|json_encode}}
<td>{{article.Categorie|json_encode}}
<td>{{article.Fichier|json_encode}}
<td>{{article.Materiel|json_encode}}
<td>{{article.commande|json_encode}}
<td>{{article.Commentaire|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{article.id}}
    </ul>
    </div>
<a href="{{ path('article_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}