{% extends 'base.html.twig' %}
{% block title %}Voir Article 
{% endblock %}
{% block body %} 
<h1>Voir Article </h1>
<div class="col-12">
   <ul class="list-group">
      <li class="list-group-item">
         <h6>Titre</h6>
         <hr>
         {{article.Titre}}
      <li class="list-group-item">
         <h6>Description</h6>
         <hr>
         {{article.Description}}
      <li class="list-group-item">
         <h6>Multimedia</h6>
         <hr>
         {{article.Multimedia}}Etat{% set options={'Actif':'actif', 'En rupture':'rupture','Arrêté':'arret','En réapprovisionnement':'reapprovisionnement',} %}
         {% set res=[] %}
         {% for key,option in options %}
         {% if option in article.Etat %}
         {% set res=res|merge([key]) %}
         {% endif %}
         {% endfor %}
         {{res|json_encode}}
      <li class="list-group-item">
         <h6>Quantite</h6>
         <hr>
         {{article.Quantite}}
      <li class="list-group-item">
         <h6>Prix</h6>
         <hr>
         {{article.Prix}}Age
         {% set options={'À partir de 3 ans':'À partir de 3 ans', 'À partir de 4 ans':'À partir de 4 ans', 'À partir de 5 ans':'À partir de 5 ans', 'À partir de 6 ans':'À partir de 6 ans', 'De 3 à 5 ans':'De 3 à 5 ans','De 4 à 6 ans':'De 4 à 6 ans' ,} %}
         {% set res=[] %}
         {% for key,option in options %}
         {% if option in article.age %}
         {% set res=res|merge([key]) %}
         {% endif %}
         {% endfor %}
         {{res|json_encode}}
      <li class="list-group-item">
         <h6>Date</h6>
         <hr>
         {{article.date ? article.date|date('Y-m-d H:i:s') : ''}}
         {# <td>{{article.Promotion|json_encode}} #}
         <td>{{article.Categorie|json_encode}}
         <td>{{article.Fichier|json_encode}}
         <td>
            {{article.Materiel|json_encode}}
      <li class="list-group-item"><h6>Id</h6>
      <hr>{{article.id}}
   </ul>
</div>
<a href="{{ path('article_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}