{% extends 'admin.html.twig' %}{% block title %}Edition User{% endblock %}

{% block body %}
<h1>Editer User </h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary mr-2" type="submit">Mettre à jour</button>
<a href="{{ path('user_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>

{{ form_end(form) }}
{{ include('user/_delete_form.html.twig') }}
{% endblock %}