{% extends 'admin.html.twig' %}{% block title %}Edition User{% endblock %}

{% block body %}
<h1>Editer User </h1>

{{ form_start(form) }}
{{ form_row(form.ArticlesAchetes) }}{{ form_row(form.Commentaires) }}{{ form_row(form.commandes) }}{{ form_row(form.id) }}{{ form_row(form.email) }}{{ form_row(form.roles) }}{{ form_row(form.password) }}{{ form_row(form.Nom) }}{{ form_row(form.Prenom) }}{{ form_row(form.Sexe) }}{{ form_row(form.Adresse) }}{{ form_row(form.CodePostal) }}{{ form_row(form.Ville) }}{{ form_row(form.Region) }}{{ form_row(form.Mobile) }}{{ form_row(form.Fixe) }}{{ form_row(form.Pays) }}
<button class="btn btn-primary mr-2" type="submit">Mettre à jour</button>
<a href="{{ path('user_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>

{{ form_end(form, {'render_rest': false}) }}
{{ include('user/_delete_form.html.twig') }}
{% endblock %}