{% extends 'admin.html.twig' %}

{% block title %}Voir Fichiers 
{% endblock %}
{% block body %} <h1>Voir Fichiers </h1>
<div class='table-responsive'>
    <table class='table'>
<tr>
<th>Image</th>
<td>{{fichier.Image}}</td>
</tr>
<tr>
<th>Tag</th>
<td>{{fichier.Tag}}</td>
</tr>
<tr>
<th>Degrade</th>
<td>{% set options={'Oui':'true', 'Non':'false',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in fichiers.Degrade %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
</tr>
<tr>
<th>Enligne</th>
<td>{% set options={'Oui':'true', 'Non':'false',} %}
         {% set res=[] %}
                    {% for key,option in options %}
                    {% if option in fichiers.Enligne %}
                    {% set res=res|merge([key]) %}
                    {% endif %}
                    {% endfor %}
                    {{res|json_encode}}</td>
</tr><td>
    <form method='post' action="{{ path('fichiers_delete', {'id':  fichier.id }) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  fichier . id ) }}">
        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('fichiers_copy', {'id':  fichier.id }) }}">Dupliquer</a>
        <a href='{{ path('fichiers_index') }}'><button class='btn btn-secondary mr-2' type='button'>Revenir à la liste</button></a>
        <button class="btn btn-xs btn-warning ">Supprimer</button>
    </form>
    </tr>
    </tbody>
    </table>
    </div><a href="{{ path('fichiers_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>

{{ include('fichiers/_delete_form.html.twig') }}
    {% endblock %}